.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #313140;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #313140;
}

.searchTerm:focus{
    background: #313140;
    color: #E9C48C;
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #313140;
    background: #313140;
    text-align: center;
    color: #E9C48C;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.sidePanel {
    overflow: scroll;
    height:750px;
}